.formanucio {
	display: block;
	max-width: 500px;
	max-height: 700px;
	padding: 10px;
}

.formanucio .input_box, select{
	display: flex;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f1f1f1;
	border: 1px solid #ddd;
	border-radius: 4px 4px 4px 4px;
}