.formContact {
  display: block;
  max-width: 600px;
  max-height: 500px;
  padding: 20px 24px;
}

.formContact input,
textarea,
select {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 4px 4px 4px 4px;
}
.image {
  width: 400;
  height: 300;
}
@media only screen and (max-width: 600px) {
  .image {
    width: 350;
    height: 250;
  }
}
