@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
.header {
  height: 60px;
  width: 100%;
  top: 0;
  z-index: 2;
}
.slider {
  position: relative;
  width: 100%;
  height: 520px;

  overflow: hidden;
}
.sombra {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.myslider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.myslider img {
  height: 100%;
  width: 100%;
}

.content {
  position: absolute;
  top: 10rem;
  left: 10rem;
  width: 60%;
  opacity: 0;
  padding: 1rem;
  border-radius: 2px 2px 2px 2px;
  background: rgba(0, 0, 0, 0.3);
  animation: slide-up 1s ease 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* sombra */
  transition: transform 0.3s ease; /* suavidade ao passar o mouse */
}

.content:hover {
  transform: translateY(-10px); /* eleva o box */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* aumenta a sombra */
}

@keyframes slide-up {
  from {
    visibility: visible;
    top: 20rem;
  }
  to {
    visibility: visible;
    top: 4rem;
  }
}

.content > * {
  font-family: "Afacad Flux", sans-serif;
  color: #fff;
  margin-top: 0.2rem;
}
.content h2 {
  color: #ed1c07;
  font-weight: bold;
  font-size: 35pt;
}

.content h4 {
  font-weight: bold;
  font-size: 20pt;
}
.content h3 {
  font-size: 13pt;
}

.content p {
  font-size: 12pt;
}

@keyframes blink {
  0% {
    color: #ffffff; /* Cor inicial */
  }
  50% {
    color: #07db47; /* Cor durante o "piscado" */
  }
  100% {
    color: #ffffff; /* Retorna à cor inicial */
  }
}

.content h4 {
  animation: blink 1s infinite; /* 1 segundo de duração e loop infinito */
}

.current {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}

.current .content {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  z-index: 999;
  top: 45%;
}
.next {
  right: 0;
}
.prev:hover,
.next:hover {
  color: #ed1c07;
}

@media screen and (max-width: 600px) {
  .myslider img {
    width: 100%;
    height: 100%;
  }
  .content {
    width: 80%;
    left: 2.5rem;
    padding: 0.4rem;
  }
  .prev,
  .next {
    font-size: 20px;
  }
  .content h2 {
    font-size: 15px;
  }
  .content h4 {
    font-size: 15px;
  }
  .content h3 {
    font-size: 14px;
  }
  .content p {
    font-size: 12px;
  }
}
